<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mercado</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%= stylesheet_link_tag   'index' , media: 'all', 'data-turbolinks-track':  'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <h1>Mercado</h1>
    </a>
  </div>
</nav>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'Cliente', clientes_path %></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'Produtos', produtos_path %></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'Compras', compras_path %></button>
</div>
</body>
</html>