<%= form_with(model: compra) do |form| %>
  <% if compra.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(compra.errors.count, "error") %> prohibited this compra from being saved:</h2>

      <ul>
        <% compra.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :data_compra, style: "display: block" %>
    <%= form.date_field :data_compra %>
  </div>

  <div>
    <%= form.label :cliente_id, style: "display: block" %>
    <%= form.select :cliente_id, Cliente.all.collect{|c| [c.nome, c.id]} %>
  </div>

  <div>
    <%= form.label :produto_id, style: "display: block" %>
    <%= form.select :produto_id, Produto.all.collect{|p| [p.nome , p.id]} %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
