<%= stylesheet_link_tag   'index' , media: 'all', 'data-turbolinks-track':  'reload' %>
<%= form_for(@compra, html:{:multipart =>true}) do |form| %>
  <% if @compra.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@compra.errors.count, "error") %></h2>

      <ul>
        <% @compra.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"> <%= form.label :data_compra, style: "display: block" %> <%= form.date_field :data_compra %> </label>
</div>
<div class="mb-3">
      <label>
      <%= form.label :cliente_id, style: "display: block" %>
      <%= form.select :cliente_id, Cliente.all.collect{|c| [c.nome, c.id]} %>
      </label>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><%= form.label :produto_id, style: "display: block" %>
    <%= form.select :produto_id, Produto.all.collect{|p| [p.nome , p.id]} %>
  </div>
  </label>

  <br>
  <div>
    <%= form.label :arquivo, "Anexo" %>
    <%= form.file_field :arquivo %>
  </div>
<br>
  <div>
  <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
