<%= stylesheet_link_tag   'index' , media: 'all', 'data-turbolinks-track':  'reload' %>
<p style="color: green"><%= notice %></p>

<%= render @compra %>

<div>
<button type="button" class="btn btn-outline-secondary"> <%= link_to "Editar", edit_compra_path(@compra) %></button>|
<button type="button" class="btn btn-outline-secondary"> <%= link_to "Voltar", compras_path %></button>
<hr>
<%= button_to "Deletar", @compra, method: :delete, class: "btn btn-primary"%>
</div>
