<p style="color: green"><%= notice %></p>

<%= render @compra %>

<div>
  <%= link_to "Editar", edit_compra_path(@compra) %> |
  <%= link_to "Voltar", compras_path %>

  <%= button_to "Deletar", @compra, method: :delete %>
</div>
