<!DOCTYPE html>
<html>
  <head>
    <title>MercadoYuri</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div>
      <ul>
        <li>
        <%= link_to '[INICIO]', root_path %>
        </li>
      </ul>
    <%= yield %> 
    </div>
  </body>
</html>
